In [1]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/income.csv"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dfa = pd.read_csv(path)

In [4]:
dfa

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,high_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
cols = list(dfa.columns)

cols

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'high_income']

In [6]:
dfa['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [7]:
columns = pd.Categorical(dfa['workclass'])

In [8]:
columns

[' State-gov', ' Self-emp-not-inc', ' Private', ' Private', ' Private', ..., ' Private', ' Private', ' Private', ' Private', ' Self-emp-inc']
Length: 32561
Categories (9, object): [' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ..., ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay']

In [9]:
columns.codes

array([7, 6, 4, ..., 4, 4, 5], dtype=int8)

In [10]:
len(columns.codes)

32561

In [11]:
dfa['workclass'] = columns.codes

In [12]:
str_cols = ['education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country',
 'high_income']

In [13]:
for name in str_cols:
    col = pd.Categorical(dfa[name])
    dfa[name] = col.codes

In [14]:
dfa

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,high_income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
32557,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
32558,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
32559,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
32560,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [15]:
private_incomes = dfa[dfa["workclass"] == 4 ]

public_incomes = dfa[dfa["workclass"] != 4 ]

In [16]:
private_incomes.shape

(22696, 15)

In [17]:
public_incomes.shape

(9865, 15)

In [18]:
import math

In [19]:
entropy = -(2/5 * math.log(2/5, 2) + 3/5 * math.log(3/5, 2))

In [20]:
entropy

0.9709505944546686

In [21]:
prob_1 = dfa[dfa["high_income"]==1].shape[0]/dfa.shape[0]

In [22]:
prob_0 = dfa[dfa["high_income"]==0].shape[0]/dfa.shape[0]

In [23]:
prob_1

0.2408095574460244

In [24]:
prob_0

0.7591904425539756

In [25]:
income_entropy = -(prob_0 *math.log(prob_0, 2) + prob_1 * math.log(prob_1, 2))

In [26]:
income_entropy

0.7963839552022132

In [27]:
def calc_entropy(column):
    # counts of each unique va;ue in the column
    counts = np.bincount(column)
    
    # divide by the total column length to get a probability 
    probabilities = counts / len(column)
    
    # initialize the entropy to 0
    entropy = 0
    
    #loop through the probabilitiee, and add each one to the total entropy 
    for prob in probabilities:
        if prob > 0:
            entropy += prob * math.log(prob, 2)
        
    return -entropy

In [28]:
entropy = calc_entropy([1, 1, 0, 0, 1])

In [29]:
entropy

0.9709505944546686

In [30]:
income_entropy = calc_entropy(dfa["high_income"])

In [31]:
income_entropy

0.7963839552022132

In [32]:
information_gain = entropy - ((0.8 * calc_entropy([1, 1, 0, 0])) + (0.2 * calc_entropy([1])))
information_gain

0.17095059445466854

In [33]:
median_age = dfa["age"].median()

In [34]:
median_age

37.0

In [35]:
dfa["age"].value_counts()

36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
86      1
87      1
Name: age, Length: 73, dtype: int64

In [36]:
left_split = dfa[dfa["age"] <= median_age]
right_split = dfa[dfa["age"] > median_age]

In [37]:
age_information_gain = income_entropy - ((left_split.shape[0]/dfa.shape[0]) * calc_entropy(left_split["high_income"]) + \
                                        ((right_split.shape[0]/dfa.shape[0]) * calc_entropy(right_split["high_income"])))

In [38]:
age_information_gain

0.047028661304691965

In [39]:
def calc_information_gain(data, split_name, target_name):
    # orginal entropy 
    original_entropy = calc_entropy(data[target_name])
    
    # median of column we are splitting
    column = data[split_name]
    median = column.median()
    
    # make two subsets of the data 
    left_split = data[column <= median]
    right_split = data[column > median]   
    
    to_subtract = 0
    for subset in [left_split, right_split]:
        prob = (subset.shape[0]/data.shape[0])
        to_subtract += prob * calc_entropy(subset[target_name])
        
    # return information gain
    return original_entropy - to_subtract

In [40]:
calc_information_gain(dfa, "age", "high_income")

0.047028661304691965

In [41]:
columns = ['age',
 'workclass',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'hours_per_week',
 'native_country']

In [42]:
information_gains = []

for col in columns: 
    information_gain = calc_information_gain(dfa, col, "high_income")
    information_gains.append(information_gain)

In [43]:
highest_gain_index = information_gains.index(max(information_gains))

In [44]:
highest_gain_index

3

In [45]:
information_gains

[0.047028661304691965,
 0.006810984054396618,
 0.06501298413277423,
 0.1114272573715438,
 0.0015822303843424645,
 0.04736241665026941,
 0.0,
 0.0,
 0.04062246867123487,
 0.00013457344495848567]

In [46]:
columns[highest_gain_index]

'marital_status'

In [47]:
def find_best_column(data, target_name, columns):
    information_gains = []

    for col in columns: 
        information_gain = calc_information_gain(data, col, "high_income")
        information_gains.append(information_gain)
        
    highest_gain_index = information_gains.index(max(information_gains))
    highest_gain = columns[highest_gain_index]
    return highest_gain

In [48]:
income_split = find_best_column(dfa, "high_income", columns)

In [49]:
income_split

'marital_status'

In [50]:
data = pd.DataFrame([
    [0, 20, 0], 
    [0, 60, 2], 
    [0, 40, 1], 
    [1, 25, 1],
    [1, 35, 2],
    [1, 55, 1]
])

In [51]:
# dummy data set
data.columns = ["high_income", "age", "marital_status"]

In [52]:
data

   high_income  age  marital_status
0            0   20               0
1            0   60               2
2            0   40               1
3            1   25               1
4            1   35               2
5            1   55               1

In [53]:
label_1s = []
label_0s = []

def id3(data, target, columns):
    unique_targets = pd.unique(data[target])
    
    if len(unique_targets) == 1:
        if 0 in unique_targets:
            label_0s.append(0)
        elif 1 in unique_targets:
            label_1s.append(1)
        return 
    
    best_column = find_best_column(data, target, columns)
    column_median = data[best_column].median()
    
    left_split = data[data[best_column] <= column_median]
    right_split = data[data[best_column] > column_median] 
    
    for split in [left_split, right_split]:
        id3(split, target, columns)

In [54]:
id3(data, "high_income", ["age", "marital_status"])

In [55]:
label_0s

[0, 0, 0]

In [56]:
label_1s

[1, 1, 1]

In [61]:
tree = {}

nodes = []

label_1s = []
label_0s = []

def id3(data, target, columns, tree):
    unique_targets = pd.unique(data[target])
    nodes.append(len(nodes) + 1)
    tree["number"] = nodes[-1]
    
    if len(unique_targets) == 1:
        if 0 in unique_targets:
            tree["label"] = 0
        elif 1 in unique_targets:
            tree["label"] = 1
        return 
    
    best_column = find_best_column(data, target, columns)
    column_median = data[best_column].median()
    
    tree["column"] = best_column
    tree["median"] = column_median
    
    left_split = data[data[best_column] <= column_median]
    right_split = data[data[best_column] > column_median] 
    split_dict = [["left", left_split], ["right", right_split]]
    
    for name, split in split_dict:
        tree[name] = {}
        id3(split, target, columns, tree[name])

In [62]:
id3(data, "high_income", ["age", "marital_status"], tree)

In [63]:
tree

{'number': 1,
 'column': 'age',
 'median': 37.5,
 'left': {'number': 2,
  'column': 'age',
  'median': 25.0,
  'left': {'number': 3,
   'column': 'age',
   'median': 22.5,
   'left': {'number': 4, 'label': 0},
   'right': {'number': 5, 'label': 1}},
  'right': {'number': 6, 'label': 1}},
 'right': {'number': 7,
  'column': 'age',
  'median': 55.0,
  'left': {'number': 8,
   'column': 'age',
   'median': 47.5,
   'left': {'number': 9, 'label': 0},
   'right': {'number': 10, 'label': 1}},
  'right': {'number': 11, 'label': 0}}}

In [64]:
def print_pretty(string, depth):
    prefix = "     " * depth
    print(f"{prefix}{string}")

In [69]:
def print_node(tree, depth):
    if "label" in tree:
        print_pretty(f"leaf: label {tree['label']}", depth)
        return
    print_pretty(f"{tree['column']} > {tree['median']}", depth)
    
    for branch in [tree["left"], tree["right"]]:
        print_node(branch, depth+1)

In [70]:
print_node(tree, 0)

age > 37.5
     age > 25.0
          age > 22.5
               leaf: label 0
               leaf: label 1
          leaf: label 1
     age > 55.0
          age > 47.5
               leaf: label 0
               leaf: label 1
          leaf: label 0

In [71]:
# age=50, marital_status = 1