In [1]:
listx = [4, 4, 4, 4,]

listy = [0, 8, 0, 8]

range(X) = max(X) - min(X)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/Housing.txt"

734qdfa = pd.read_table(path)

In [18]:
def find_range(la):
    return max(la) - min(la)

range_by_year = {}

for year in dfa['Yr Sold'].unique():
    data_by_year = dfa[dfa['Yr Sold'] == year]
    range_by_year[year] = find_range(data_by_year['SalePrice'])
    
one_z = False
one_y = True

In [17]:
range_by_year

{2010: 598868, 2009: 575100, 2008: 601900, 2007: 715700, 2006: 590000}

In [23]:
C = [1, 1, 1, 1,1 ,1 , 1, 1, 1,1, 21]

# variability in C = 20

def average_distance(la):
    reference_point = sum(la)/len(la)
    
    distances = []
    for val in la :
        distances.append(val - reference_point)
        
    return sum(distances)/len(distances)

avg_distance = average_distance(C)

In [25]:
round(avg_distance, 10)

-0.0

In [28]:
simple_mean = sum(C)/len(C)

In [29]:
simple_mean

2.8181818181818183

In [26]:
return max(la) - min(la)

SyntaxError: 'return' outside function (<ipython-input-26-db0d062cc342>, line 1)

In [30]:
# mean squared distance 
# standard deviation

In [33]:
person_a = [0, 3, 1, 0, 4, 1, 0, 3, 4, 0, 1, 0, 3]

person_b = [1, 2, 1, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2]

In [36]:
mean_a = sum(person_a)/len(person_a)

In [37]:
mean_b = sum(person_b)/len(person_b)

In [38]:
mean_a

1.5384615384615385

In [39]:
mean_b

1.6153846153846154

In [40]:
variance_a = sum([((x - mean_a) ** 2) for x in person_a])/len(person_a)

In [44]:
variance_a**0.5

1.5499570522776835

In [42]:
import statistics

In [43]:
statistics.pstdev(person_a)

1.5499570522776835

In [45]:
statistics.pstdev(person_b)

0.6249260311258431

In [47]:
from math import sqrt

In [48]:
def standard_deviation(la):
    reference_point = sum(la)/len(la)
    
    distances = []
    for val in la:
        sq_dist = (val - reference_point)**2
        distances.append(sq_dist)
        
    variance = sum(distances)/len(distances)
    return sqrt(variance)


# measure the first varaibility for each year
years = {}

for year in dfa['Yr Sold'].unique():
    year_segment = dfa[dfa['Yr Sold'] == year]
    st_dev = standard_deviation(year_segment['SalePrice'])
    years[year] = st_dev

In [49]:
years

{2010: 74521.920711871,
 2009: 80794.39070298373,
 2008: 75531.94622558328,
 2007: 82483.28433288915,
 2006: 82553.57563561267}

In [52]:
dfa.groupby('Yr Sold').agg(np.std)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,SalePrice
Yr Sold,,,,,,,,,,,,,,,,,,,,,
2006,180.566239,1.885885e+08,44.864523,23.129221,23940.547853,1.431911,1.019321,29.944925,21.180746,180.114013,...,208.079139,135.986938,65.568693,66.220898,20.588163,58.649693,58.280578,242.747601,2.682493,82619.697853
2007,200.484829,1.889261e+08,40.172958,23.433944,24667.171430,1.398873,1.052347,29.704387,20.302549,193.689011,...,215.715946,126.231550,75.060460,71.540524,15.956344,52.722847,37.998103,939.841379,2.801447,82542.774629
2008,179.700213,1.885739e+08,43.665577,25.391309,22189.969096,1.375655,1.177217,30.967775,20.848080,179.999211,...,227.073868,118.257854,69.495473,56.381787,29.274162,59.177225,30.576766,373.171385,2.744373,75592.736534
2009,187.205769,1.882109e+08,40.119533,22.075909,17472.520296,1.470799,1.146837,30.559448,20.974445,168.154731,...,217.348932,119.486546,64.145432,60.163196,34.006034,56.347076,0.000000,172.072355,2.675517,80856.804301
2010,98.582453,1.889580e+08,45.302893,22.231150,18144.050682,1.339788,1.179719,29.844407,20.802402,164.595763,...,197.024582,135.212018,55.859678,65.113450,19.287230,51.785021,0.000000,733.866341,1.573467,74631.431308