In [31]:
listx = [12, 0, 3, 6, 10, 6]
tupx = (0, [1, 3, 4], "hello", "", 33.67)
listz = [0, "", [], False, 0.0]
seta = {"hi", 'HEY', "good evening", "WELcome"}

In [27]:
print(any(listx))

True

In [28]:
print(any(tupx))

True

In [29]:
print(all(listx))

False

In [33]:
print(all(seta))

True

In [34]:
print(all(listz))

False

In [35]:
print(any(listz))

False

In [36]:
listx = [12, 0, 3, 6, 10, 6]
tupx = (0, [1, 3, 4], "hello", "", 33.67)
listz = [0, "", [], False, 0.0]
seta = {"hi", 'HEY', "good evening", "WELcome"}

In [37]:
sum(listx)

37

In [38]:
sum(listx)/len(listx)

6.166666666666667

In [39]:
# error
sum(seta)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
min(listx)

0

In [41]:
min(seta)

'HEY'

In [42]:
max(seta)

'hi'

In [1]:
listx = [12, 0, 3, 6, 10, 6]
tupx = (0, [1, 3, 4], "hello", "", 33.67)
listz = [0, "", [], False, 0.0]
seta = {"hi", 'HEY', "good evening", "WELcome"}

In [2]:
sorted(listx)

[0, 3, 6, 6, 10, 12]

In [3]:
sorted("hello")

['e', 'h', 'l', 'l', 'o']

In [4]:
sorted(seta)

['HEY', 'WELcome', 'good evening', 'hi']

In [6]:
list(reversed(listx))

[6, 10, 6, 3, 0, 12]

In [7]:
listx

[12, 0, 3, 6, 10, 6]