In [1]:
import numpy as np

In [2]:
nf =np.array([[['natalie', 'female'],['jerusalem' ,'israel']], 
          [['bruce', 'male' ], ['dortmund' ,'germany']], 
         [['emma', 'female'], ['paris', 'france']]])

In [3]:
print(nf)

[[['natalie' 'female']
  ['jerusalem' 'israel']]

 [['bruce' 'male']
  ['dortmund' 'germany']]

 [['emma' 'female']
  ['paris' 'france']]]

In [4]:
nf.ndim

3

In [5]:
print(nf[0])

[['natalie' 'female']
 ['jerusalem' 'israel']]

In [6]:
print(nf[0][1])

['jerusalem' 'israel']

In [7]:
print(nf[0][0][0])
print(nf[1][0][0])
print(nf[2][0][0])

natalie
bruce
emma

In [8]:
print(nf[:])

[[['natalie' 'female']
  ['jerusalem' 'israel']]

 [['bruce' 'male']
  ['dortmund' 'germany']]

 [['emma' 'female']
  ['paris' 'france']]]

In [9]:
print(nf[:][0])

[['natalie' 'female']
 ['jerusalem' 'israel']]

In [13]:
listx = [11, 22, 44, 66, 77, 99]

In [18]:
listx[1]  # int

22

In [14]:
listx  #list

[11, 22, 44, 66, 77, 99]

In [15]:
listx[1:5]  #list

[22, 44, 66, 77]

In [17]:
listx[1:5][0]

22

In [19]:
[22, 44, 66, 77][0]

22

In [20]:
print(nf)

[[['natalie' 'female']
  ['jerusalem' 'israel']]

 [['bruce' 'male']
  ['dortmund' 'germany']]

 [['emma' 'female']
  ['paris' 'france']]]

In [21]:
print(nf[0, 1, 1])

israel

In [22]:
print(nf[0][1][1])

israel

In [23]:
print(nf[:, 0, 0])

['natalie' 'bruce' 'emma']

In [28]:
print(nf[1, :, 0])

['bruce' 'dortmund']

In [29]:
print(nf[0:17, 1, 1])

['israel' 'germany' 'france']

In [30]:
nf.shape

(3, 2, 2)

In [34]:
ng = np.array([[['strummer', 'male'], ['ankara', 'turkey']]])

In [35]:
print(ng)

[[['strummer' 'male']
  ['ankara' 'turkey']]]

In [36]:
ng.shape

(1, 2, 2)

In [37]:
print(nf)

[[['natalie' 'female']
  ['jerusalem' 'israel']]

 [['bruce' 'male']
  ['dortmund' 'germany']]

 [['emma' 'female']
  ['paris' 'france']]]

In [38]:
print(ng)

[[['strummer' 'male']
  ['ankara' 'turkey']]]

In [39]:
nh = np.concatenate((nf, ng), axis=0)

In [40]:
print(nh)

[[['natalie' 'female']
  ['jerusalem' 'israel']]

 [['bruce' 'male']
  ['dortmund' 'germany']]

 [['emma' 'female']
  ['paris' 'france']]

 [['strummer' 'male']
  ['ankara' 'turkey']]]