In [14]:
import pandas as pd
import math
import numpy as np

accommodate = 3

In [5]:
dfa = pd.read_csv("dc_airbnb.csv")

path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/dc_airbnb.csv"

dfa = pd.read_csv(path)

In [6]:
list(dfa.columns)

['host_response_rate',
 'host_acceptance_rate',
 'host_listings_count',
 'accommodates',
 'room_type',
 'bedrooms',
 'bathrooms',
 'beds',
 'price',
 'cleaning_fee',
 'security_deposit',
 'minimum_nights',
 'maximum_nights',
 'number_of_reviews',
 'latitude',
 'longitude',
 'city',
 'zipcode',
 'state']

In [7]:
dfa

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3718,100%,60%,1,4,Entire home/apt,1.0,1.0,2.0,$135.00,$45.00,$400.00,3,60,19,38.885492,-76.987765,Washington,20003,DC
3719,100%,50%,1,2,Private room,1.0,2.0,1.0,$79.00,NaN,NaN,3,365,36,38.889401,-76.986646,Washington,20003,DC
3720,100%,100%,2,6,Entire home/apt,2.0,1.0,3.0,$275.00,$100.00,$500.00,2,2147483647,12,38.889533,-77.001010,Washington,20003,DC
3721,88%,100%,1,2,Entire home/apt,1.0,1.0,1.0,$179.00,$25.00,NaN,2,21,48,38.890815,-77.002283,Washington,20002,DC
3722,70%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$110.00,$40.00,$200.00,2,1125,1,38.883646,-76.999810,Washington,20003,DC

In [8]:
cols_temp = ['host_listings_count','accommodates','bedrooms','bathrooms','beds',]

In [9]:
dfa[cols_temp]

      host_listings_count  accommodates  bedrooms  bathrooms  beds
0                      26             4       1.0        1.0   2.0
1                       1             6       3.0        3.0   3.0
2                       2             1       1.0        2.0   1.0
3                       1             2       1.0        1.0   1.0
4                       1             4       1.0        1.0   1.0
...                   ...           ...       ...        ...   ...
3718                    1             4       1.0        1.0   2.0
3719                    1             2       1.0        2.0   1.0
3720                    2             6       2.0        1.0   3.0
3721                    1             2       1.0        1.0   1.0
3722                    1             3       0.0        1.0   1.0

[3723 rows x 5 columns]

### euclidean distance

In [10]:
dif = (26 -1) + (4-6) + (1-3) + (1-3) + (2-3) 

sq_dif = (26 -1)**2 + (4-6)**2 + (1-3)**2 + (1-3)**2 + (2-3)**2

In [13]:
eq_dis = math.sqrt(sq_dif)

In [15]:
acc_value = 3

first_living_space = dfa.iloc[0]['accommodates']

In [16]:
first_distance = np.abs(first_living_space - acc_value)

In [17]:
first_distance

1

In [18]:
dfa

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3718,100%,60%,1,4,Entire home/apt,1.0,1.0,2.0,$135.00,$45.00,$400.00,3,60,19,38.885492,-76.987765,Washington,20003,DC
3719,100%,50%,1,2,Private room,1.0,2.0,1.0,$79.00,NaN,NaN,3,365,36,38.889401,-76.986646,Washington,20003,DC
3720,100%,100%,2,6,Entire home/apt,2.0,1.0,3.0,$275.00,$100.00,$500.00,2,2147483647,12,38.889533,-77.001010,Washington,20003,DC
3721,88%,100%,1,2,Entire home/apt,1.0,1.0,1.0,$179.00,$25.00,NaN,2,21,48,38.890815,-77.002283,Washington,20002,DC
3722,70%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$110.00,$40.00,$200.00,2,1125,1,38.883646,-76.999810,Washington,20003,DC

In [19]:
dfa['distance'] = np.abs(dfa['accommodates'] - 3)

In [20]:
dfa

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC,1
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC,3
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD,2
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC,1
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3718,100%,60%,1,4,Entire home/apt,1.0,1.0,2.0,$135.00,$45.00,$400.00,3,60,19,38.885492,-76.987765,Washington,20003,DC,1
3719,100%,50%,1,2,Private room,1.0,2.0,1.0,$79.00,NaN,NaN,3,365,36,38.889401,-76.986646,Washington,20003,DC,1
3720,100%,100%,2,6,Entire home/apt,2.0,1.0,3.0,$275.00,$100.00,$500.00,2,2147483647,12,38.889533,-77.001010,Washington,20003,DC,3
3721,88%,100%,1,2,Entire home/apt,1.0,1.0,1.0,$179.00,$25.00,NaN,2,21,48,38.890815,-77.002283,Washington,20002,DC,1
3722,70%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$110.00,$40.00,$200.00,2,1125,1,38.883646,-76.999810,Washington,20003,DC,0

In [21]:
dfa['distance'].value_counts()

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: distance, dtype: int64

In [22]:
dfa['accommodates'].value_counts()

2     1604
4      690
3      461
1      342
6      279
5      161
8       73
7       35
10      22
9       17
12      12
16       8
11       7
15       6
14       4
13       2
Name: accommodates, dtype: int64

In [23]:
dfa[dfa["distance"]==0]

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
26,100%,100%,1,3,Entire home/apt,2.0,1.0,2.0,$239.00,$50.00,NaN,5,1125,4,38.912855,-77.022184,Washington,20001,DC,0
34,100%,NaN,1,3,Entire home/apt,1.0,1.0,3.0,$127.00,NaN,NaN,3,16,0,38.905756,-77.029551,Washington,20005,DC,0
36,100%,100%,1,3,Entire home/apt,1.0,1.0,1.0,$110.00,NaN,NaN,1,1125,1,38.913588,-77.025636,Washington,20001,DC,0
40,100%,100%,1,3,Entire home/apt,1.0,1.0,2.0,$125.00,$60.00,NaN,1,30,11,38.910351,-77.023617,Washington,20001,DC,0
44,92%,100%,4,3,Entire home/apt,0.0,1.0,2.0,$110.00,$35.00,NaN,2,1125,32,38.907122,-77.019037,Washington,20001,DC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,100%,100%,1,3,Entire home/apt,1.0,1.0,1.0,$119.00,$150.00,NaN,1,1125,3,38.887683,-76.987534,Washington,20003,DC,0
3697,100%,100%,1,3,Entire home/apt,1.0,1.0,2.0,$75.00,$50.00,$100.00,2,1125,0,38.886758,-76.982555,Washington,20003,DC,0
3707,100%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$135.00,$50.00,$250.00,2,1125,17,38.887971,-76.996194,Washington,20003,DC,0
3714,90%,100%,1,3,Entire home/apt,1.0,1.0,1.0,$109.00,NaN,NaN,1,1125,8,38.885251,-76.983890,Washington,20003,DC,0
3722,70%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$110.00,$40.00,$200.00,2,1125,1,38.883646,-76.999810,Washington,20003,DC,0

In [24]:
np.random.seed(2)

dfb = dfa.loc[np.random.permutation(len(dfa))]

In [25]:
dfb = dfb.sort_values(by='distance')

In [26]:
dfb

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
3349,90%,100%,1,3,Entire home/apt,1.0,1.0,1.0,$105.00,$50.00,$100.00,1,1125,7,38.933036,-77.073194,Washington,20016,DC,0
2282,67%,NaN,1,3,Entire home/apt,0.0,1.0,2.0,$93.00,$100.00,NaN,6,1125,3,38.911879,-77.049233,Washington,20008,DC,0
2674,NaN,NaN,1,3,Entire home/apt,3.0,2.0,3.0,$900.00,NaN,NaN,3,7,0,38.927587,-77.005154,Washington,20017,DC,0
131,75%,75%,1,3,Entire home/apt,1.0,1.0,2.0,$215.00,NaN,NaN,1,1125,34,38.900772,-77.024677,Washington,20005,DC,0
3510,90%,100%,1,3,Entire home/apt,1.0,1.0,1.0,$160.00,$50.00,NaN,1,1125,16,38.888043,-76.992011,Washington,20003,DC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,100%,95%,3,16,Entire home/apt,5.0,3.5,5.0,$299.00,$155.00,NaN,3,365,8,38.944327,-77.015149,"Washington, D.C.",20011,DC,13
1594,88%,100%,1,16,Entire home/apt,10.0,8.0,13.0,"$1,250.00",$300.00,"$1,500.00",3,1125,0,38.950473,-77.033374,Washington,20011,DC,13
611,98%,79%,6,16,Entire home/apt,8.0,8.0,16.0,"$1,250.00",NaN,NaN,1,1125,0,38.907800,-77.034529,Washington,20005,DC,13
1402,92%,94%,30,16,Entire home/apt,8.0,6.0,13.0,"$1,200.00",$300.00,NaN,3,1125,10,38.914757,-77.033483,Washington,20009,DC,13
763,100%,NaN,1,16,Private room,1.0,1.0,1.0,"$1,000.00",NaN,NaN,1,1125,0,38.901322,-76.986356,Washington,20002,DC,13

In [27]:
temp_x = dfb['price'].str.replace(',', '')

In [29]:
temp_y = temp_x.str.replace('$', '')

/Users/shobhit/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [31]:
dfb['price'] = temp_y.astype('float')

In [32]:
dfb

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
3349,90%,100%,1,3,Entire home/apt,1.0,1.0,1.0,105.0,$50.00,$100.00,1,1125,7,38.933036,-77.073194,Washington,20016,DC,0
2282,67%,NaN,1,3,Entire home/apt,0.0,1.0,2.0,93.0,$100.00,NaN,6,1125,3,38.911879,-77.049233,Washington,20008,DC,0
2674,NaN,NaN,1,3,Entire home/apt,3.0,2.0,3.0,900.0,NaN,NaN,3,7,0,38.927587,-77.005154,Washington,20017,DC,0
131,75%,75%,1,3,Entire home/apt,1.0,1.0,2.0,215.0,NaN,NaN,1,1125,34,38.900772,-77.024677,Washington,20005,DC,0
3510,90%,100%,1,3,Entire home/apt,1.0,1.0,1.0,160.0,$50.00,NaN,1,1125,16,38.888043,-76.992011,Washington,20003,DC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,100%,95%,3,16,Entire home/apt,5.0,3.5,5.0,299.0,$155.00,NaN,3,365,8,38.944327,-77.015149,"Washington, D.C.",20011,DC,13
1594,88%,100%,1,16,Entire home/apt,10.0,8.0,13.0,1250.0,$300.00,"$1,500.00",3,1125,0,38.950473,-77.033374,Washington,20011,DC,13
611,98%,79%,6,16,Entire home/apt,8.0,8.0,16.0,1250.0,NaN,NaN,1,1125,0,38.907800,-77.034529,Washington,20005,DC,13
1402,92%,94%,30,16,Entire home/apt,8.0,6.0,13.0,1200.0,$300.00,NaN,3,1125,10,38.914757,-77.033483,Washington,20009,DC,13
763,100%,NaN,1,16,Private room,1.0,1.0,1.0,1000.0,NaN,NaN,1,1125,0,38.901322,-76.986356,Washington,20002,DC,13

In [33]:
avg_price = dfb.iloc[0:5]['price'].mean()

avg_price

294.6

In [34]:
np.random.seed(2)

dfc = pd.read_csv('dc_airbnb.csv')

temp_x = dfc['price'].str.replace(',', '')
temp_y = temp_x.str.replace('$', '')
dfc['price'] = temp_y.astype('float')

dfc['price'] 

dfc = dfc.loc[np.random.permutation(len(dfc))]

def predict_price(x):
    temp_df = dfc.copy()
    temp_df['distance'] = np.abs(temp_df["accommodates"] - x)
    temp_df = temp_df.sort_values("distance")
    nearest_neighbours = temp_df["price"].head()
    predicted_price = nearest_neighbours.mean()
    return (predicted_price)

/Users/shobhit/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

In [35]:
predict_price(4)

197.0

In [36]:
predict_price(3)

294.6

In [37]:
predict_price(10)

525.0