In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
from sklearn.model_selection import train_test_split, KFold
from sklearn.neighbors import KNeighborsClassifier as KNN

In [3]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/iris.csv"

In [4]:
dfa = pd.read_csv(path)

In [5]:
dfa

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
flower_1 = dfa.iloc[50]
flower_2 = dfa.iloc[100]

In [8]:
dfa = dfa.drop([50])
dfa = dfa.drop([100])

In [9]:
dfa

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[148 rows x 5 columns]

In [12]:
list(dfa.columns)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [13]:
model = KNN(n_neighbors=5)

model.fit(X=dfa[['petal_width', 'sepal_length']], y=dfa['species'])

KNeighborsClassifier()

In [15]:
flower_1_prediction = model.predict(flower_1[['petal_width', 'sepal_length']].values.reshape((-1, 2)))

In [16]:
flower_1_prediction[0]

'versicolor'

In [17]:
flower_1['species']

'versicolor'

In [18]:
flower_2['species']

'virginica'

In [19]:
flower_2_prediction = model.predict(flower_2[['petal_width', 'sepal_length']].values.reshape((-1, 2)))

In [20]:
flower_2_prediction[0]

'virginica'