In [1]:
import json

In [2]:
with open("example_1.json", "r") as obja:
    data_x = json.load(obja)

In [3]:
print(type(data_x))

<class 'dict'>

In [4]:
data_x

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [5]:
data_x['fruit']

'Apple'

In [6]:
with open("example_2.json", 'r') as objb:
    data_y = json.load(objb)

In [7]:
data_y

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [8]:
data_y['quiz']

{'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'answer': 'Huston Rocket'}},
 'maths': {'q1': {'question': '5 + 7 = ?',
   'options': ['10', '11', '12', '13'],
   'answer': '12'},
  'q2': {'question': '12 - 8 = ?',
   'options': ['1', '2', '3', '4'],
   'answer': '4'}}}

In [9]:
data_y['quiz']['maths']

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [10]:
data_y['quiz']['maths']['q1']

{'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}

In [11]:
data_y['quiz']['maths']['q1']['options']

['10', '11', '12', '13']

In [12]:
data_y['quiz']['maths']['q1']['options'][2]

'12'

In [13]:
data_y['quiz']['maths']['q1']['options'][2][0]

'1'

In [15]:
with open("example_4.json", "r") as objc:
    data_z = json.load(objc)

In [16]:
data_z

{'users': [{'userId': 1,
   'firstName': 'Krish',
   'lastName': 'Lee',
   'phoneNumber': '123456',
   'emailAddress': 'krish.lee@learningcontainer.com'},
  {'userId': 2,
   'firstName': 'racks',
   'lastName': 'jacson',
   'phoneNumber': '123456',
   'emailAddress': 'racks.jacson@learningcontainer.com'},
  {'userId': 3,
   'firstName': 'denial',
   'lastName': 'roast',
   'phoneNumber': '33333333',
   'emailAddress': 'denial.roast@learningcontainer.com'},
  {'userId': 4,
   'firstName': 'devid',
   'lastName': 'neo',
   'phoneNumber': '222222222',
   'emailAddress': 'devid.neo@learningcontainer.com'},
  {'userId': 5,
   'firstName': 'jone',
   'lastName': 'mac',
   'phoneNumber': '111111111',
   'emailAddress': 'jone.mac@learningcontainer.com'}]}

In [17]:
data_z['users']

[{'userId': 1,
  'firstName': 'Krish',
  'lastName': 'Lee',
  'phoneNumber': '123456',
  'emailAddress': 'krish.lee@learningcontainer.com'},
 {'userId': 2,
  'firstName': 'racks',
  'lastName': 'jacson',
  'phoneNumber': '123456',
  'emailAddress': 'racks.jacson@learningcontainer.com'},
 {'userId': 3,
  'firstName': 'denial',
  'lastName': 'roast',
  'phoneNumber': '33333333',
  'emailAddress': 'denial.roast@learningcontainer.com'},
 {'userId': 4,
  'firstName': 'devid',
  'lastName': 'neo',
  'phoneNumber': '222222222',
  'emailAddress': 'devid.neo@learningcontainer.com'},
 {'userId': 5,
  'firstName': 'jone',
  'lastName': 'mac',
  'phoneNumber': '111111111',
  'emailAddress': 'jone.mac@learningcontainer.com'}]

In [18]:
data_z['users'][0]

{'userId': 1,
 'firstName': 'Krish',
 'lastName': 'Lee',
 'phoneNumber': '123456',
 'emailAddress': 'krish.lee@learningcontainer.com'}

In [19]:
data_z['users'][0]['emailAddress']

'krish.lee@learningcontainer.com'

In [20]:
stra = data_z['users'][0]['emailAddress']

stra.find("@")

9

In [21]:
stra[10:]

'learningcontainer.com'

In [22]:
data_z['users'][0]['emailAddress'][data_z['users'][0]['emailAddress'].find('@')+1 : ]

'learningcontainer.com'

In [23]:
data_z

{'users': [{'userId': 1,
   'firstName': 'Krish',
   'lastName': 'Lee',
   'phoneNumber': '123456',
   'emailAddress': 'krish.lee@learningcontainer.com'},
  {'userId': 2,
   'firstName': 'racks',
   'lastName': 'jacson',
   'phoneNumber': '123456',
   'emailAddress': 'racks.jacson@learningcontainer.com'},
  {'userId': 3,
   'firstName': 'denial',
   'lastName': 'roast',
   'phoneNumber': '33333333',
   'emailAddress': 'denial.roast@learningcontainer.com'},
  {'userId': 4,
   'firstName': 'devid',
   'lastName': 'neo',
   'phoneNumber': '222222222',
   'emailAddress': 'devid.neo@learningcontainer.com'},
  {'userId': 5,
   'firstName': 'jone',
   'lastName': 'mac',
   'phoneNumber': '111111111',
   'emailAddress': 'jone.mac@learningcontainer.com'}]}

In [24]:
data_z['users']

[{'userId': 1,
  'firstName': 'Krish',
  'lastName': 'Lee',
  'phoneNumber': '123456',
  'emailAddress': 'krish.lee@learningcontainer.com'},
 {'userId': 2,
  'firstName': 'racks',
  'lastName': 'jacson',
  'phoneNumber': '123456',
  'emailAddress': 'racks.jacson@learningcontainer.com'},
 {'userId': 3,
  'firstName': 'denial',
  'lastName': 'roast',
  'phoneNumber': '33333333',
  'emailAddress': 'denial.roast@learningcontainer.com'},
 {'userId': 4,
  'firstName': 'devid',
  'lastName': 'neo',
  'phoneNumber': '222222222',
  'emailAddress': 'devid.neo@learningcontainer.com'},
 {'userId': 5,
  'firstName': 'jone',
  'lastName': 'mac',
  'phoneNumber': '111111111',
  'emailAddress': 'jone.mac@learningcontainer.com'}]

In [25]:
import pandas as pd

In [26]:
dfz = pd.DataFrame(data_z['users'])

In [27]:
dfz

   userId firstName lastName phoneNumber                        emailAddress
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com

In [28]:
dict_a = {'aa':10, 
          'bb':30, 
         'cc':{'xx':40, 'ff':50}, 
         'dd':70}

In [29]:
dict_a

{'aa': 10, 'bb': 30, 'cc': {'xx': 40, 'ff': 50}, 'dd': 70}

In [32]:
with open("example_5.json", "w") as objd:
    json.dump(dict_a, objd)