In [1]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/Housing.txt"

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
dfa = pd.read_table(path)

In [4]:
dfa.head(5)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,131770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [5]:
dfa['SalePrice'].mean()

180796.0600682594

In [12]:
dfb = dfa[['Yr Sold', 'SalePrice']].groupby(['Yr Sold']).agg(houses_sold=('Yr Sold', 'size'), mean_price=('SalePrice', 'mean'))

In [13]:
dfb

         houses_sold     mean_price
Yr Sold
2006             625  181761.648000
2007             694  185138.207493
2008             622  178841.750804
2009             648  181404.567901
2010             341  172597.598240

In [14]:
original_mean = dfa['SalePrice'].mean()
new_mean = dfb['mean_price'].mean()

difference = original_mean - new_mean

In [23]:
new_mean

179948.75448767154

In [15]:
difference

847.3055805878539

In [16]:
year_2006 = [27800, 145200, 431000, 338660, 205700]
year_2007 = [134000, 138000]

In [17]:
year_2006_mean = sum(year_2006)/len(year_2006)
year_2007_mean = sum(year_2007)/len(year_2007)

In [18]:
year_2006_mean

229672.0

In [19]:
year_2007_mean

136000.0

In [20]:
year_combined = year_2006 + year_2007
year_combined

[27800, 145200, 431000, 338660, 205700, 134000, 138000]

In [21]:
year_combined_mean = sum(year_combined)/len(year_combined)
year_combined_mean

202908.57142857142

In [22]:
(year_2006_mean + year_2007_mean)/2

182836.0

In [24]:
list(dfb['houses_sold'])

[625, 694, 622, 648, 341]

In [26]:
print(list(dfb['mean_price']))

[181761.648, 185138.2074927954, 178841.7508038585, 181404.56790123458, 172597.5982404692]

In [27]:
np.average(dfb['mean_price'], weights=dfb['houses_sold'])

180796.0600682594

In [28]:
original_mean

180796.0600682594

In [29]:
dfa['TotRms AbvGrd'].value_counts()

6             844
7             649
5             586
8             347
4             203
9             143
10 or more    131
3              26
2               1
Name: TotRms AbvGrd, dtype: int64

In [30]:
dfa['TotRms AbvGrd']

0       7
1       5
2       6
3       8
4       6
       ..
2925    6
2926    5
2927    6
2928    6
2929    9
Name: TotRms AbvGrd, Length: 2930, dtype: object

In [31]:
# open-ended distribution

In [32]:
dfa['TotRms AbvGrd'].value_counts().keys()

Index(['6', '7', '5', '8', '4', '9', '10 or more', '3', '2'], dtype='object')

In [34]:
x = ['6', '7', '5', '8', '4', '9', '10 or more', '3', '2']

x.sort()

In [35]:
x

['10 or more', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
y = ['2', '3', '4', '5', '6', '7', '8', '9', '10 or more']

median = '6'