In [2]:
import pandas as pd

In [1]:
lista = [11, 44, 77, 10, 53, 87, 29, 95]

In [3]:
sa = pd.Series(lista)

In [4]:
sa

0    11
1    44
2    77
3    10
4    53
5    87
6    29
7    95
dtype: int64

In [7]:
lista = [11, 44, 77, 10, 53, 87, 29, 95]
listb = ['a', 'g', 'h', 'y', 'r', 'w', 'r', 'i']

In [8]:
sb = pd.Series(lista, listb)

In [9]:
sb

a    11
g    44
h    77
y    10
r    53
w    87
r    29
i    95
dtype: int64

In [10]:
sb['w']

87

In [11]:
sb[2]

77

In [12]:
dicta = {'xx':10, 'tt':20, 'ss':30, 'ff':44}

In [13]:
sc = pd.Series(dicta)

sc

xx    10
tt    20
ss    30
ff    44
dtype: int64

In [14]:
sd = pd.Series(101, index=['tt', 'ee', 'ww'])
sd

tt    101
ee    101
ww    101
dtype: int64

In [15]:
sd = pd.Series(101, index=range(11, 15))
sd

11    101
12    101
13    101
14    101
dtype: int64

In [16]:
sa

0    11
1    44
2    77
3    10
4    53
5    87
6    29
7    95
dtype: int64

In [17]:
sa[1:5:2]

1    44
3    10
dtype: int64

In [18]:
sb

a    11
g    44
h    77
y    10
r    53
w    87
r    29
i    95
dtype: int64

In [19]:
se = sb[ sb%2==0 ]

In [20]:
se

g    44
y    10
dtype: int64

In [21]:
se = sb[ (sb>40) & (sb<90) ]

In [22]:
se

g    44
h    77
r    53
w    87
dtype: int64

In [23]:
se * 2

g     88
h    154
r    106
w    174
dtype: int64

In [24]:
import numpy as np

In [25]:
np.sin(se)

g    0.017702
h    0.999520
r    0.395925
w   -0.821818
dtype: float64