In [1]:
import numpy as np
import pandas as pd

In [6]:
dicta = {"x":[11, 22, 33, 44], "y":[10, 23, 45, 67]}

In [3]:
dfa = pd.DataFrame(dicta)

In [4]:
dfa

    x   y
0  11  10
1  22  23
2  33  45
3  44  67

In [7]:
dictb = {"x":[11, 22, 33, 44], "y":[10, 23, 45], "z":[34, 78, 12, 6]}

In [ ]:
#error
dfb = pd.DataFrame(dictb)

In [9]:
dictb = {"x":[11, 22, 33, 44], "y":[10, 23, 45, 38], "z":[34, 78, 12, 6]}
dfb = pd.DataFrame(dictb)
dfb

    x   y   z
0  11  10  34
1  22  23  78
2  33  45  12
3  44  38   6

In [13]:
dictc = {"aa":{"x":100, "y":200, "z":300}, "bb":{"x":120, "g":220, "t":330}}

In [14]:
dictc

{'aa': {'x': 100, 'y': 200, 'z': 300}, 'bb': {'x': 120, 'g': 220, 't': 330}}

In [15]:
dfc = pd.DataFrame(dictc)
dfc

      aa     bb
x  100.0  120.0
y  200.0    NaN
z  300.0    NaN
g    NaN  220.0
t    NaN  330.0

In [19]:
pd.read_csv("data.csv", nrows=3)

  item  price  val  num
0   aa     23   45   67
1   hh     54   73   82
2   yy     57   39   10

In [21]:
pd.read_csv("data.csv", header=0, names=["ww", "xx", "yy", 'zz'])

   ww  xx  yy  zz
0  aa  23  45  67
1  hh  54  73  82
2  yy  57  39  10
3  ee  30  22  76
4  oo  19  50  32
5  hh  10  87  32

In [22]:
pd.read_csv("data.csv", sep='|')

  item  price  val  num
0   aa     23   45   67
1   hh     54   73   82
2   yy     57   39   10
3   ee     30   22   76
4   oo     19   50   32
5   hh     10   87   32