In [1]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/admissions.csv"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dfa = pd.read_csv(path)

In [4]:
dfa

     admit       gpa         gre
0        0  3.177277  594.102992
1        0  3.412655  631.528607
2        0  2.728097  553.714399
3        0  3.093559  551.089985
4        0  3.141923  537.184894
..     ...       ...         ...
639      1  3.381359  720.718438
640      1  3.083956  556.918021
641      1  3.114419  734.297679
642      1  3.549012  604.697503
643      1  3.532753  588.986175

[644 rows x 3 columns]

In [5]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression()
logistic_model.fit(dfa[["gpa"]], dfa["admit"])

LogisticRegression()

In [6]:
logistic_model.fit(dfa[["gpa"]], dfa["admit"])

LogisticRegression()

In [7]:
fitted_labels = logistic_model.predict(dfa[["gpa"]])

In [8]:
dfa["predicted_label"] = fitted_labels

In [9]:
dfa["predicted_label"].value_counts()

0    507
1    137
Name: predicted_label, dtype: int64

In [10]:
dfa

     admit       gpa         gre  predicted_label
0        0  3.177277  594.102992                0
1        0  3.412655  631.528607                0
2        0  2.728097  553.714399                0
3        0  3.093559  551.089985                0
4        0  3.141923  537.184894                0
..     ...       ...         ...              ...
639      1  3.381359  720.718438                0
640      1  3.083956  556.918021                0
641      1  3.114419  734.297679                0
642      1  3.549012  604.697503                1
643      1  3.532753  588.986175                1

[644 rows x 4 columns]

In [11]:
matches = dfa["predicted_label"] == dfa["admit"]

correct_predictions = dfa[matches]

In [12]:
correct_predictions.shape

(441, 4)

In [13]:
dfa.shape

(644, 4)

In [14]:
accuracy = len(correct_predictions)/len(dfa)

accuracy

0.6847826086956522

In [15]:
TP_filter = (dfa["predicted_label"] == 1) & (dfa["admit"] == 1) 
TN_filter = (dfa["predicted_label"] == 0) & (dfa["admit"] == 0) 
FP_filter = (dfa["predicted_label"] == 1) & (dfa["admit"] == 0) 
FN_filter = (dfa["predicted_label"] == 0) & (dfa["admit"] == 1)

In [16]:
len(dfa[TP_filter])

89

In [17]:
len(dfa[TN_filter])

352

In [18]:
len(dfa[FP_filter])

48

In [19]:
len(dfa[FN_filter])

155

actual_innocent, proved_innocent <br>

actual_guilty, proved_guilty <br>

actual_guilty, proved_innocent <br>

actual_innocent, proved_guilty <br>

In [20]:
tp = len(dfa[TP_filter])
tn = len(dfa[TN_filter])
fp = len(dfa[FP_filter])
fn = len(dfa[FN_filter])

In [22]:
sensitivity = tp/(tp+fn)

In [23]:
sensitivity

0.36475409836065575

In [24]:
specificity = tn/(fp+tn)

In [25]:
specificity

0.88

In [27]:
len(dfa) - len(dfa[dfa['admit'] == 1])

400

In [28]:
len(dfa)

644